.submitBtn {
  color: white;
  font-weight: 500;
  border-radius: 5px;
  background-color: #21cffd;
  font-size: large;
  border-color: #21cffd;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.displayDate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calander {
  margin-left: 30px;
}

.AllAppointment {
  margin-top: -13px;
}

.cancelBtn {
  color: gray;
  border: 2px solid gray;
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
  font-size: large;
  padding: 10px;
  margin-left: 30px;
}

@media (max-width: 850px) {
  .displayDate {
    align-items: center;
  }
  .calander {
    margin-left: 10px;
  }
  .submitBtn {
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background-color: #21cffd;
    font-size: medium;
    border-color: #21cffd;
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .displayDate {
    display: block;
  }
  .calander {
    margin-left: 10px;
    width: 90%;
  }
  .submitBtn {
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background-color: #21cffd;
    font-size: medium;
    border-color: #21cffd;
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
